@media (max-width: 991px) {
    .row > .col-sm-12, .row > .col-md-6{
        margin-bottom: 3rem;
    }
    .change-to-block{
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    #force-center > div{
        margin-bottom: 2rem;
    }
    #rationale-grid-container{
        display: block !important;
    }
    .main-nav{
        padding: 0 !important;
        margin: 0 auto !important;
        border-radius: 1rem  !important;
    }
    .card-header{
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;
        width: 100%;
    }

}
