:root{
    --black: #262730;
}
#rationale-grid-container{
    display: grid;
    grid-template-areas: 
        "rationale rationale"
        "terms research-questions"
        "null_hypo alt_hypo";
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content max-content;
    gap: 1vh 2vw;

}
.grid-text-container{
    max-height: max-content;
    background-color: inherit;
}
#rationale-container{
    grid-area: rationale;
}
#terms-container{
    grid-area: terms;
}
.bullet-point{
    width: 0.6rem;
    height: 1.25rem;
    background-color: #893168;
}
.left-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}
.small-margin{
    margin-bottom: 10px;
}
.padding-top-50{
    padding-top: 50px;
}
.heading-text{
    color: #FFF;
    font-size: 2rem;
    max-width: fit-content;
    margin: 0 0;
}
.bg-primary-color{
    background-color: #893168;
}
.padding-10{
    padding: 10px;
}
.rounded-border{
    border-radius: 15px;
}
.center-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#tools-container{
    max-width: 100%;
    min-height: max-content;
}
@media (min-width: 990px){
    #desktop-override-toolcard{
        max-width: 190px;
        min-height: max-content;
    }
}
#force-center{
    justify-content: center;
}
.mini-box{
    height: 100%;
}
#tech-used{
}
#tech-used > .mini-content{
    min-height: max-content;
}
.left-heading .subsection-title{
    font-size: 22px;
    color: white;
}
.full-width{
    width: 100%;
    min-height: max-content;
}
.team-item .team-content .center-heading {
    margin-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 24px;
    color: #464646;
    letter-spacing: 0.6px;
    line-height: 26px;
}
.team-item .team-content .list-group-item{
    color: #777;
    font-size: 15px;
}
.next-steps-button{
    width: inherit;
    border: none;
    border-radius: 17px;
    padding: 0.7rem;
    box-sizing: border-box;
    height: 80px; /* Change for media query thanks */
    color: white;
    background-color: #893168;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #893168 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #521c3dfd !important;
}
.section.colored h1, h2, h3, p{
    color: var(--black);
}
.right-text{
    max-width: 400px;
}
.dropdown-container{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--black);
}
.colored h1, h2, h3, p{
    color: var(--black) !important;
}
.subsection-container div{
    margin-bottom: 1rem;
}