:root{
    --black: #111111;
    --weird-white: #f2f2fe;
}
#rationale-grid-container{
    display: grid;
    grid-template-areas: 
        "background-desc background-desc"
        "rationale rationale"
        "solution solution"
        "terms research-questions"
        "null_hypo alt_hypo"
        "signif signif";
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content max-content max-content max-content;
    gap: 1vh 2vw;

}
.grid-text-container{
    max-height: max-content;
    background-color: inherit;
}
#solution-container{
    grid-area: solution;
}
#background-container{
    grid-area: background-desc;
}
#rationale-container{
    grid-area: rationale;
}
#terms-container{
    grid-area: terms;
}
#significant-grps{
    grid-area: signif;
}
.bullet-point{
    width: 0.6rem;
    height: 1.25rem;
    background-color: #893168;
}
.left-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}
.small-margin{
    margin-bottom: 10px;
}
.padding-top-50{
    padding-top: 50px;
}
.heading-text{
    color: #FFF;
    font-size: 2rem;
    max-width: fit-content;
    margin: 0 0;
}
.bg-primary-color{
    background-color: #893168;
}
.padding-10{
    padding: 10px;
}
.rounded-border{
    border-radius: 15px;
}
.center-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#tools-container{
    max-width: 100%;
    min-height: max-content;
}
@media (min-width: 990px){
    #desktop-override-toolcard{
        max-width: 190px;
        min-height: max-content;
    }
    .navbar-sizing{
        max-width: max-content;
    }
}
#force-center{
    justify-content: center;
}
.mini-box{
    height: 100%;
}
#tech-used > .mini-content{
    min-height: 100%;
}
.left-heading .subsection-title{
    font-size: 18px;
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.full-width{
    width: 100%;
    min-height: max-content;
}
.team-item .team-content .center-heading {
    margin-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 24px;
    color: #464646;
    letter-spacing: 0.6px;
    line-height: 26px;
}
.team-item .team-content .list-group-item{
    color: #777;
    font-size: 16px;
    border: none;
    padding: 0 35px 25px;
    text-align: justify;
}
.next-steps-button{
    width: inherit;
    border: none;
    border-radius: 17px;
    padding: 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #893168;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
}

.next-steps-button > p {
    text-align: center;
    margin: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active{
    background-color: #893168 !important;
    transition: background-color 0.25s;
}

.btn-primary:hover, .btn-primary:active{
    background-color: #521c3dfd !important;
}
.section.colored > h1, .section.colored > h2,.section.colored > h3, .section.colored >p{
    color: var(--black);
}
.right-text{
    max-width: 400px;
}
.colored > h1, .colored > h2, .colored > h3, .colored > p{
    color: var(--black) !important;
}
.subsection-container{  
    margin-bottom: 3rem;
}
.left-heading{
    margin-bottom: 1rem;
}

.left-heading > .section-title {
    margin: 0;
}

.plot-image-styling{
    display: block;
    max-width: 800px;
    max-height: 700px;
    width: auto;
    height: auto;
    margin: 3rem auto;
}
.plot-embed-styling{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}
.portrait-image-styling{
    width: 100%;
    min-height: 200px;
    border-radius: 20px;
}
.portrait-header-text{
    color: #FFF;
}

a {
    text-decoration: none;
    color: #FFF;
}

.colab-link {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
}
.title-description{
    max-width: 30rem;
}
.accordion-container{
    background-color: inherit;
}
.light{
    background-color: #FFF;
    color: #262730 !important;
}
.dark > h1, .dark > h2, .dark > h5, .dark > h4, .dark > p, .dark > h3{
    color: #FFF;
}

.card-header{
    padding: 3rem 2.25rem 3rem 1.5rem;
    border: none !important;
    background: none !important;
}
.border-slate{
    border: 1px solid rgba(255,255,255,0.02) !important;
}
.title-button-spacing{
    width: 100%;
    gap: 1rem;
}
embed{
    overflow: hidden !important;
}
.about-text{
    text-align: justify;
    color: #fff;
}
.name-desc-spacing{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contact-button{
    width: 22px;
    height: auto;

}
tr > th, tr > td{
    color: white;
    text-align: center;
}
.hypo-text{
    font-size: 1.1rem;
}
.highlight{
    color: #36827F;
    font-weight: 700;
    transition: color ease 0.3s;   
}
.separator{
    width: 95%;
    background-color: rgba(255,255,255,0.1);
    height: 1px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.col-cont-styling{
    padding: 0 1.5rem;
}
a:hover{
    color: rgba(54, 130, 127, 0.6);
    transition: color ease 0.3s;   
}
tr > th, tr > td{
    color: white;
    text-align: center;
}

.comm-grp {
    text-align: left;
}

.plot-cap {
    margin: 0;
    font-size: 14px;
    text-align: right;
    font-style: italic;
}

.dark > .plot-cap {
    color: rgba(255, 255, 255, 0.350);
}
.card-header{
    padding: 3rem 2.25rem 3rem 1.5rem;
    border: none !important;
    background: none !important;
}

.next-steps-button > p {
    text-align: center;
    margin: 0;
}
.table{
    margin-bottom: 3rem !important;
}

.references {
    font-size: 14px;
    font-style: italic;
}

.references, .references > a {
    color: rgba(255, 255, 255, 0.350);
}
.gradient-bg{
    background: url(../images/asd.png) !important;
    background-position: start !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}
.action-image-style{
    width: 70px;
    height: auto;
}