#rationale-grid-container{
    display: grid;
    grid-template-areas: 
        "rationale rationale"
        "terms research-questions"
        "null_hypo alt_hypo";
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content max-content;
    gap: 1vh 2vw;

}
.grid-text-container{
    max-height: max-content;
    background-color: inherit;
}
#rationale-container{
    grid-area: rationale;
}
#terms-container{
    grid-area: terms;
}
.bullet-point{
    width: 0.6rem;
    height: 1.25rem;
    background-color: #893168;
}
.left-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}
.small-margin{
    margin-bottom: 10px;
}
.padding-top-50{
    padding-top: 50px;
}
.heading-text{
    color: #FFF;
    font-size: 2rem;
    max-width: fit-content;
    margin: 0 0;
}
.bg-primary-color{
    background-color: #893168;
}
.padding-10{
    padding: 10px;
}
.rounded-border{
    border-radius: 15px;
}
.center-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#tools-container{
    max-width: 100%;
    min-height: max-content;
}
@media (min-width: 990px){
    #desktop-override-toolcard{
        max-width: 190px;
        min-height: max-content;
    }
}
#force-center{
    justify-content: center;
}
.mini-box{
    height: 100%;
}
#tech-used{
}
#tech-used > .mini-content{
    min-height: max-content;
}